  <div class="row-fluid">
    <div class="span8 video">
      <%= render partial: "videos/video", locals: {entry: entry} %>
    </div>
    <div class="span4">
      <ul class="unstyled">
        <li><b>Language:</b> <%= link_to_language(entry.language || "") %></li>
        <li><b>Dialect:</b> <%= entry.dialect %></li>
        <li><b>Copyright:</b> <%= entry.copyright.nil? ? "" : link_to(entry.copyright.author, entry.copyright.link) %></li>
        <li>
          <b>Tags: </b> 
          <% entry.tags.each do |e| %>
            <%= link_to_videos_with_tag(e) %>
          <% end %>
        </li>
        <li><b>Current ranking: <span id="current-ranking"><%= entry.ranking %></span></li>

        <% unless(session_contains_up_vote_for(entry)) %>
          <li>
            <%= link_to up_vote_video_path(entry), :class => "voting-link", :remote => true, :data => {:type => "json"} do %>
              <i class="icon-chevron-up"></i> rank up 
            <% end %>
          </li>
        <% end %>

        <% unless(session_contains_down_vote_for(entry)) %>
          <li>
            <%= link_to down_vote_video_path(entry), :class => "voting-link", :remote => true, :data => {:type => "json"}  do %>
              <i class="icon-chevron-down"></i> rank down
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
