.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = image_tag("logo.png", alt: "See Me Speak")
%section.row-fluid
  %h2
    Results for: #{params[:transcription]}
  .span9
    = @entries.to_a.in_groups_of(3) do |group|
      .row-fluid
        - group.each do |e|
          - if e.present?
            .span3
              %p
                = link_to(image_tag(asset_path('rails.png'), :class => "img-polaroid"), video_path(e))
              %p
                = e.transcription
                = link_to "show", video_path(e), :class => "demo", :remote => true
  .span3
#current_video