.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = link_to(image_tag("logo.png", alt: "See Me Speak"), root_path)
  .row-fluid
    .text-center.search-field
      = form_tag(videos_path, :method => :get) do
        .input-append
          = text_field_tag :transcription, params[:transcription], placeholder: "Go and look up a word...", autofocus: "autofocus"
          = button_tag "Search", class: "btn"
%section.row-fluid
  %h2
    ="Results for: #{search_result_header}"
  .span9
    = @entries.to_a.in_groups_of(3) do |group|
      .row-fluid
        - group.each do |e|
          - if e.present?
            .span3
              .p
                = link_to(image_tag(e.posterframe, :class => "img-polaroid"), video_path(e), :remote => true)
              .p
                = e.transcription
              %p
                = e.language
              %p
                = e.dialect
    .span3
#current_video
