.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = link_to(image_tag("logo.png", alt: "See Me Speak"), root_path)

  = form_tag(videos_path, :method => :get, id: "search_form") do
    .row-fluid
      .text-center.search-field
        .input-append
          = text_field_tag :transcription, params[:transcription], placeholder: "Go and look up a word...", autofocus: "autofocus"
          = button_tag "Search", class: "btn"
        .more-options
          %a{href: "#options"} Show more options ...
    .row-fluid.expert-search
      .span3
      .span6.well
        .row-fluid
          - Entry::ALLOWED_FLAGS.each do |flag|
            = check_box_tag flag, 1, params[flag] == "1"
            = label_tag flag, flag, class: "checkbox inline"
        .row-fluid
          %input{name:"old_reviewed", type: "hidden", value: params["reviewed"]}
          = check_box_tag "reviewed", 1, params["reviewed"] == 1
          = label_tag "reviewed", "reviewed", class: "checkbox inline"
      .span3
%section.row-fluid
  - if @entries.count > 0
    .span2
    .span7
      %h2
        ="Results for: #{search_result_header}"
      = @entries.to_a.in_groups_of(3) do |group|
        .row-fluid
          - group.each do |e|
            - if e.present?
              .span4
                .p
                  = link_to(image_tag(e.posterframe, :class => "img-polaroid"), video_path(e), :remote => true)
                .p
                  = link_to(e.transcription, video_path(e), :remote => true)
                %p
                  = explain_language(e.language)
                %p
                  = e.dialect
      .row-fluid
        .span12.text-center
          = render partial: "videos/pagination", locals: { entries: @entries }
  - else
    .not-found
      .row-fluid
        .text-center
          %h3 Sorry, we haven't found a video for "#{params[:transcription]}".
      .row-fluid
        .text-center
          %a.btn.recording_only{href: new_video_path}
            Record a new one.
          .btn.no_recording.hidden{disabled: "disabled"}
            You could record a new one if you use Google Chrome.

#current_video
