%h2 Record new video
%section#video-preview
  %fieldset#video-controls
    %button#camera-me= t "turn_on_camera"
    %button#record-me{ data: {recording_label: t("recording"), record_label: t("record")} }= t "record"
  %video#live{autoplay: "", height: "480", width: "640"}
  = form_for @entry, url: videos_path(@entry) do |f|
    = f.label :transcription
    = f.text_field :transcription
    = f.label :tags
    = f.text_field :tags, :value => @entry.tags.join(" ")
    - Entry::ALLOWED_FLAGS.each do |flag|
      = f.label flag
      = f.check_box flag
    = f.label :language
    = f.select :language, Entry::ALLOWED_LANGUAGES
    = f.label :dialect
    = f.text_field :dialect
    %fieldset#submits
      = f.button "Upload video", id: :upload_video
      = f.button :submit
