.row-fluid
  .row-fluid.page-header.text-center

    %h1
      = link_to(image_tag("logo.png", alt: "See Me Speak"), root_path)

= simple_form_for @entry, url: videos_path(@entry), :html => { :class => "form-horizontal" }  do |f|
  .row-fluid.row-standout
    .span12.text-center
      %fieldset#action-controls
        %button#record-me{ disabled: :disabled, data: {label_recording: t("recording"), label_record: t("record"), label_record_again: t("record_again")}}= t "record"
        %span#submits.hide
          =f.button :button, t(:upload_video), id: :upload_video, class: "btn-primary btn-large"

  .row-fluid
    .span12

      %section#video-preview.text-center
        %video#live{autoplay: "", height: "480", width: "640"}
        = f.simple_fields_for :video do |v|
          = v.input :length, collection: length_collection,  include_blank: false, input_html: {class: "input-xs"}

      %section#form-controls
        = f.input :transcription
        = f.input :tags, input_html: { :value => @entry.tags.join(" ") }
        - Entry::ALLOWED_FLAGS.each do |flag|
          = f.input flag, as: :boolean
        = f.input :language, collection: Entry::ALLOWED_LANGUAGES.map {|l| long_language(l)}, include_blank: false
        = f.input :dialect
        = simple_fields_for :"entry[copyright]", @entry.copyright do |c|
          = c.input :author
          = c.input :link
          = c.input :license_accepted, as: :boolean
