%h2 Record new video
%section#video-preview
  %fieldset#buttons
    %button#camera-me 1. Turn on camera
    %button#record-me Record
    %button#stop-me{disabled: "disabled"} ◼
    / <button id="play-me" disabled>►</button>
  #elapsed-time
  %video#live{autoplay: "", height: "480", src: "", width: "640"}
  = form_for(@entry, url: videos_path(@entry)) do |f|
    = f.label :transcription
    = f.text_field :transcription
    = f.label :tags
    = f.text_field :tags
    = f.label :flags
    = f.text_field :flags
    = f.label :language
    = f.text_field :language
    = f.label :dialect
    = f.text_field :dialect
    = f.button :submit
