.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = image_tag("logo.png", alt: "See Me Speak")
  .row-fluid
    .text-center.search-field
      = form_tag(videos_path, :method => :get) do
        .input-append
          = text_field_tag :transcription, nil, placeholder: "Go and look up a word..."
          = button_tag "Search", class: "btn"
      %a.btn.recording_only{href: new_video_path}
        Or record a new one
      .btn.no_recording.hidden{disabled: "disabled"}
        Recording is only available in Google Chrome currently

  .row-fluid
    .span6
      %h3 Learn a word today!
      .well.lead
        = render partial: "videos/video", locals: {entry: @random_entry}
        .text
          And now you know how to say <strong>#{@random_entry.transcription}</strong> in <strong>#{link_to_language(@random_entry.language)}</strong>
        .copyright
          (
          - if @random_entry.copyright
            By
            - if @random_entry.copyright.link.present?
              = link_to @random_entry.copyright.author, @random_entry.copyright.link
            - else
              = @random_entry.copyright.author
          )
    .span6
      %h3 About
      %p.lead
        See Me Speak is a dictionary for sign language. You can easily
        search for signs and even add missing ones with your webcam.
      %p.lead
        Currently we have #{Entry.count} videos available in the database.
