.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = image_tag("logo.png", alt: "See Me Speak")
  .row-fluid
    .text-center.search-field
      = form_tag(videos_path, :method => :get) do
        .input-append
          = text_field_tag :transcription, nil, placeholder: "Go and look up a word..."
          = button_tag "Search", class: "btn"
  .row-fluid
    .span6
      %h3 Learn a word today!
      %p.well.lead
        %video{height: "100%", width: "100%", controls: "controls", loop: "loop", poster: "http://rumble.seemespeak.org/videofiles/Festplatte.jpg"}
          %source{src: "http://rumble.seemespeak.org/videofiles/Festplatte.mp4", type: "video/mp4"}
          %source{src: "http://rumble.seemespeak.org/videofiles/Festplatte.webm", type: "video/webm"}
        And now you know how to say <strong>#{@random_entry.transcription}</strong> in <strong>#{@random_entry.language}</strong>
    .span6
      %h3 About
      %p.lead
        See Me Speak is a dictionary for sign language. You can easily
        search for signs and even add missing ones with your webcam.
      %p.lead
        Currently we have #{Entry.count} videos available in the database.
