.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = link_to(image_tag("logo.png", alt: "See Me Speak"), root_path)
  .row-fluid
    .text-center.search-field
      = render partial:"videos/search"
      %a.btn{href: videos_path(random: rand(2000))}
        = t(:show_all, :scope => :welcome)

  .row-fluid
    .span6
      %h3
        = t(:learn_a_word, :scope => :welcome)
      .well.lead
        = render partial: "videos/video", locals: {entry: @random_entry}
        .text
          #{t(:now_you_know, :scope => :welcome)} <strong>#{sign_translate(@random_entry)}</strong> in <strong>#{link_to_language(@random_entry.language)}</strong>
        - if @random_entry.copyright
          .copyright
            (
            #{t(:by, :scope => :general)}
            - if @random_entry.copyright.link.present?
              = link_to @random_entry.copyright.author, @random_entry.copyright.link
            - else
              = @random_entry.copyright.author
            )
        %a{href: "/"}
          = t(:teach_me, :scope => :welcome)
    .span6
      %h3
        = t(:about, :scope => :general)
      %p.lead
        = t(:about_text, :scope => :welcome)
      %p.lead
        = t(:database_text, :scope => :welcome) % {entries: Entry.count}
      %p.lead
        = t(:help_text, :scope => :welcome) % {entries: Entry.count}
